<p id="notice"><%= notice %></p>
<% unless (@page == 1) %>
  <%= link_to 'Previous page', page: @page - 1 %>
<% end %>
<% unless ((@page * @offset)>=(Playlist.all.length)) %>
<%= link_to 'Next page', page: @page + 1 %>
<% end %>


<h1>Playlists</h1>

<div class="entries">
<% @playlists.each do |playlist| %>
<div class="entry">
  <h3 class="title">
    <%= playlist.name %>
  </h3>
  <div>
    <% if (playlist.image === "") %>
      <a href=<%= "/playlists/#{playlist.id}" %>><img class="image" src='http://www.wpclipart.com/signs_symbol/arrows/button_arrows/play_buttons/play_button.svg' alt:<%= playlist.name %> ></a>
    <% else %>
      <a href=<%= "/playlists/#{playlist.id}" %>><img class="image" src=<%= playlist.image %> alt:<%= playlist.name %> ></a>
    <% end %>
  </div>
</div>
  <!-- <div class="more-btn-container"> -->
    <!-- <a class="more-btn" href="#">More</a> -->
    <!-- <ul class="more-menu"> -->
      <!-- <li><%= link_to 'Show', playlist %></li> -->
      <!-- <li><%= link_to 'Edit', edit_playlist_path(playlist) %></li> -->
      <!-- <li><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></li> -->
    <!-- </ul> -->
  <!-- </div> -->
</div>
<% end %>



<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Image</th>
      <th>Description</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.name %></td>
        <td><%= playlist.url %></td>
        <td><%= image_tag playlist.image %></td>
        <td><%= playlist.description %></td>
        <td><%= playlist.comment %></td>
        <td><%= link_to 'Show', playlist %></td>
        <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
        <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<!-- <br>
<p class="new_link">
  <%= link_to 'New Playlist', new_playlist_path %>
</p> -->
