<p id="notice"><%= notice %></p>

<p class="show_sections">
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p class="show_sections">
  <!-- <strong>Image:</strong> -->
  <% if (@playlist.image == "") %>
    <img class="image_show" src='http://www.wpclipart.com/signs_symbol/arrows/button_arrows/play_buttons/play_button.svg' alt:<%= @playlist.name %> >
  <% else %>
    <img class="image_show" src=<%= @playlist.image %> alt:<%= @playlist.name %> >
  <% end %>
</p>

<p class="show_sections">
  <strong>Url:</strong>
  <a href=<%= @playlist.url %>><%= @playlist.url %></a>
</p>

<p class="description show_sections">
  <strong>Description:</strong>
  <%= @playlist.description %>
</p>

<p class="show_sections">
  <strong>Comment:</strong>
  <%= @playlist.comment %>
</p>

<div class="home_and_edit">
  <% if (notice == "Playlist was successfully created.") || (notice == "Playlist was successfully updated.") %>
    <%= link_to 'Edit', edit_playlist_path(@playlist) %> |
    <%= link_to 'Destroy', @playlist, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Home', playlists_path %>
</div>
