<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @playlist.url %>
</p>

<p>
  <strong>Image:</strong>
  <% if (@playlist.image == "") %>
    <img class="image" src='http://www.wpclipart.com/signs_symbol/arrows/button_arrows/play_buttons/play_button.svg' alt:<%= @playlist.name %> >
  <% else %>
    <img class="image" src=<%= @playlist.image %> alt:<%= @playlist.name %> >
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @playlist.description %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @playlist.comment %>
</p>

<% if (notice == "Playlist was successfully created.") || (notice == "Playlist was successfully updated.") %>
  <%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<% end %>
<%= link_to 'Home', playlists_path %>
