<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Playlist:</strong>
  <%= @review.playlist.name %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |

<%= link_to 'Back', @review.playlist %>
