<!DOCTYPE html>
<html>
<head>
  <title>PlaylistProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav_bar">
    <span class="home_link">
      <%= link_to 'News Feed', playlists_path %>
    </span>
    <span class="soundbaselogo">
      <%= link_to 'SoundBass', welcome_index_path %>
    </span>
    <span class="new_link">
      <%= link_to 'New Playlist', new_playlist_path %>
    </span>
  </div>

<%= yield %>

</body>
</html>
